@import "plugins/normalize.scss";
@import "lib/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import "parts/header.scss";
@import "parts/inner-page.scss";
@import "parts/masonry.scss";
@import "parts/footer.scss";

body {
	color: $primary-color;
	font-family: $font-family;
	font-size: $base-font-size;
	font-family: 'Varela Round', sans-serif;


	main {
		
		
		
	}

	&.menu-open {

		
	}
}


@media (max-width: $mobile-breakpoint) {
	main {
		
	}
}
