@model WebPageVM;
<header>
    <a href="/"><img src="/images/logo.png" alt="@Model.Website.Name"/></a>
    <partial name="Partials/Search" />
    <nav>
        <button>Toggle Menu</button>
        <nav>
            <partial name="Partials/Menu" model="Model.Website.HeaderMenu" />
        </nav>
    </nav>
</header>